$white-text-color: #fff;
$black-text-color: #000;
$green-color: #22a75d;
$blue-color: #2278d4;
$red-color: #e20613;
$yellow-color: #ffd100;
$gradient-blue-color: linear-gradient(0deg, #2b3087 0%, #00b4ec 81.99%), #ffd100;
$hero-text-color: #DDE2FF;
$makes-section-color: #0f1320;
$tokners-text-color: #9fa1a6;
$presale-text-color: #191b21;
$how-color-text: #f7f5f9;
