@import '../../../assets/style/container';
@import '../../../assets/style/mixin';

.comming {
  display: flex;
  align-items: center;
  justify-content: center;

  &__child {
    margin-right: 0;

    @include for-size(laptop) {
      margin-right: 40px;
    }
  }

  &__block {
    max-width: 500px;

    @include for-size(laptop) {
      width: 450px;
    }

    @include for-size(desktop) {
      width: 700px;
    }
  }

  &__text {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
    margin-bottom: 20px;
    color: #9fa1a6;
    
    @include for-size (phone){
        max-width: 335px;
    }

    @include for-size (tablet){
        max-width: 500px;
    }

    &_w {
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.6;
      margin-bottom: 20px;
      color: white;

      @include for-size (phone){
        max-width: 335px;
    }

    @include for-size (tablet){
        max-width: 500px;
    }
    }
  }
}

.comming__img_block {
  @include for-size(phone) {
    display: none;
  }

  @include for-size(tablet) {
    display: none;
  }

  @include for-size(laptop) {
    display: block;
  }

  @include for-size(desktop) {
    display: block;
  }
}

.logo {
  margin-right: 24px;
}

.heading {
    @include for-size (phone){
        display: none;
    }

    @include for-size(tablet){
        display: none;
    }

    @include for-size(laptop){
        display: block;
    }

  font-size: 700;
  color: white;
  size: 48px;
  line-height: 54px;
}


.logo__m{
    @include for-size (phone){
        display: block;
    }

    @include for-size(tablet){
        display: block;
    }

    @include for-size(laptop){
        display: none;
    }
}

.heading__mobile {
    @include for-size(phone){
        font-size: 700;
        color: white;
        size: 48px;
        line-height: 54px;
    }

    @include for-size(tablet){
        font-size: 700;
        color: white;
        size: 48px;
        line-height: 54px;
        display: block;
    }

    @include for-size(laptop){
        display: none;
    }



}

.green {
  color: white;
}

.labka {
  color: yellow;
  width: 20px;
}

.comming__button {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border-color: transparent;

  color: #22a75d;
  border-bottom: 1px dashed #22a75d;
}

.shadow__text{
    position: absolute;
    height: 94px;
    width: 100%;
    background: linear-gradient(180deg, #0F1320 0%, rgba(15, 19, 32, 0) 100%);
    bottom: 0;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.comming__shadow{
    position: relative;
}
