@import '../../../assets/style/container';
@import '../../../assets/style/mixin';
@import '../../../assets/style/button';

.comming {
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-size(phone) {
    flex-direction: column-reverse;
    gap: 70px;
  }

  @include for-size(tablet) {
    flex-direction: column-reverse;
    gap: 70px;
  }

  @include for-size(laptop) {
    flex-direction: row;
    gap: 0;
  }

  @include for-size(desktop) {
  }
  

  &__child {
    margin-right: 0;

    @include for-size(laptop) {
    }

    @include for-size(desktop) {
      min-width: 644px;
    }
  }

  &__block {
    max-width: 500px;

    @include for-size(laptop) {
      width: 450px;
    }

    @include for-size(desktop) {
      width: 700px;
    }
  }

  &__text {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
    margin-bottom: 20px;
    color: #9fa1a6;

    @include for-size(phone) {
      max-width: 335px;
    }

    @include for-size(tablet) {
      max-width: 500px;
    }

    @include for-size(desktop) {
      min-width: 644px;
    }

    &_w {
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.6;
      margin-bottom: 20px;
      color: white;

      @include for-size(phone) {
        max-width: 335px;
      }

      @include for-size(tablet) {
        max-width: 500px;
      }

      @include for-size(desktop) {
        min-width: 644px;
     }
    }
  }

  &__section{
    padding-bottom: 200px;
  }
}

.comming__img_block {
  position: relative;
  width: 335px;
  height: 348.91px;


  @include for-size(tablet) {
    width: 554px;
    height: 653px;
  }

  @include for-size(laptop) {
    width: 641px;
    height: 768px;
  }

  @include for-size(desktop) {
    width: 891px;
    height: 928px;
  }
}

.comming__img_background {
  position: absolute;
  background-color: $comming-img-background;
  border-radius: 25px;
  bottom: 0;
  right: 0;
  width: 292.14px;
  height: 338.38px;

  @include for-size(tablet) {
    width: 474px;
    height: 550px;
  }

  @include for-size(laptop) {
    width: 558px;
    height: 648px;
  }

  @include for-size(desktop) {
    width: 777px;
    height: 900px;
  }
}

.comming__img {
  position: absolute;
  bottom: 0;
  z-index: 10;

  @include for-size(desktop) {
    width: 891px;
    height: 928px;
  }
}

.logo {
  margin-right: 24px;
}

.heading {
  @include for-size(phone) {
    display: none;
  }

  @include for-size(tablet) {
    display: none;
  }

  @include for-size(laptop) {
    display: block;
    font-size: 700;
    color: white;
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 30px;
  }


}

.logo__m {
  @include for-size(phone) {
    display: block;
  }

  @include for-size(tablet) {
    display: block;
  }

  @include for-size(laptop) {
    display: none;
  }
}

.heading__mobile {
  @include for-size(phone) {
    font-size: 700;
    color: white;
    size: 48px;
    line-height: 54px;
  }

  @include for-size(tablet) {
    font-size: 700;
    color: white;
    size: 48px;
    line-height: 54px;
    display: block;
  }

  @include for-size(laptop) {
    display: none;
  }
}

.green {
  color: white;
}

.labka {
  color: yellow;
  width: 20px;
}

.comming__button {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border-color: transparent;

  color: #22a75d;
  border-bottom: 1px dashed #22a75d;


  @include for-size(laptop) {
    width: 147px;
    color: $white-text-color;
    outline: none;
    background-color: transparent;
    border: 2px solid #22a75d;
    border-radius: 52px;
    padding: 15px 20px;
  }
}

.shadow__text {
  position: absolute;
  height: 94px;
  width: 100%;
  background: linear-gradient(180deg, #0f1320 0%, rgba(15, 19, 32, 0) 100%);
  bottom: 0;
  left: -5px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.comming__shadow {
  position: relative;
}
