@import '../../../assets/style/colors';
@import '../../../assets/style/container';
@import '../../../assets/style/mixin';

.services {
  position: relative;
  &__vector {
    @include for-size(phone) {
      display: none;
    }
    @include for-size(tablet) {
      position: absolute;
      display: block;
      top: -1px;
      right: 0;
    }
    @include for-size(desktop) {
      top: 0px;
    }
  }
  @include for-size(phone) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @include for-size(tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include for-size(laptop) {
    padding-top: 210px;
    padding-bottom: 100px;
  }

  &__container {
    @include for-size(phone) {
    }
    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include for-size(laptop) {
      column-gap: 140px;
      justify-content: space-around;
    }
    @include for-size(desktop) {
      flex-wrap: nowrap;
      justify-content: center;
      gap: 46px;
    }
  }

  &__contents {
    @include for-size(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include for-size(tablet) {
      margin-bottom: 40px;
      min-width: 340px;
      max-width: 340px;
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(3) {
        margin-bottom: 0;
      }
    }
    @include for-size(laptop) {
      margin-bottom: 80px;
      max-width: 490px;
      min-width: 490px;
    }
    @include for-size(desktop) {
      margin-bottom: 0;
      max-width: 375px;
      min-width: 375px;
    }
  }

  &__images {
    display: flex;
    align-items: center;
    margin-left: -35px;
    position: relative;
    @include for-size(phone) {
      margin-bottom: 10px;
    }
    &__container {
      position: absolute;
      transform: translate(115px, 10px);
    }
    &__dot {
      margin-bottom: 0;
      &__green {
        fill: #22a75d;
      }
      &__blue {
        fill: #2278d4;
      }
      &__yellow {
        fill: #ffd100;
      }
      &__red {
        fill: #e20613;
      }
    }
  }

  &__list {
    counter-reset: item;
    padding-right: 10px;
    list-style-position: outside;
  }

  &__item {
    color: $tokners-text-color;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(34 / 18);
    text-indent: -35px;
    padding-left: 20px;
    &:before {
      content: counter(item, decimal-leading-zero);
      counter-increment: item;
      margin-right: 20px;
      font-size: 12px;
      font-weight: 700;
      line-height: calc(34 / 12);
      color: $white-text-color;
    }
  }

  &__title {
    position: absolute;
    transform: translate(43px, -15px);
    font-size: 26px;
    font-weight: 700;
    line-height: calc(36 / 26);
  }

  &__text {
    color: $white-text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: calc(36 / 18);
  }
}
