@import '../../../assets/style/colors';
@import '../../../assets/style/container';
@import '../../../assets/style/mixin';

.title__text {
  color: $presale-text-color;
}

.details {
  padding-bottom: 220px;

  &__contens {
    display: flex;
    justify-content: center;
    gap: 20px;

    // &:nth-child(2) {
    //   position: relative;
    //   transform: translateY(25%);
    // }
  }

  &__container {
    background-color: $white-text-color;
    border-radius: 25px;
    padding: 100px 92px 92px 96px;

    &__first {
      display: flex;
      align-items: center;
      flex-direction: column;
      min-width: 323px;
    }

    &__second {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform: translate(0px, -61px);
  }

  &__header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  &__header {
    color: $white-text-color;
    font-size: 48px;
    font-weight: 700;
    line-height: calc(54 / 48);
  }

  &__number {
    position: relative;
  }
  &__image {
    position: absolute;
    z-index: 1;
  }

  &__caption {
    font-size: 32px;
    font-weight: 700;
    line-height: calc(54 / 32);

    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(20 / 16);
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__cource {
    font-size: 20px;
    font-weight: 700;
    line-height: calc(20 / 20);

    margin-bottom: 20px;
  }

  &__cap {
    font-size: 16px;
    font-weight: 700;
    line-height: calc(20 / 16);
  }

  &__button {
    width: 140px;
    height: 60px;
  }
}
