@import '../../../assets/style/colors';
@import '../../../assets/style/container';
@import '../../../assets/style/mixin';

.title__text {
  color: $presale-text-color;
}

.details {
  padding-bottom: 220px;

  &__contens {
    display: flex;
    justify-content: center;
    gap: 10px;
    @include for-size(tablet) {
      gap: 20px;
    }
  }

  &__container {
    background-color: $white-text-color;
    border-radius: 25px;
    padding: 20px 50px 50px 53px;
    @include for-size(tablet) {
      padding: 100px 92px 92px 96px;
    }
    @include for-size(laptop) {
      padding: 100px 47px 92px 48px;
    }
    @include for-size(desktop) {
      padding: 100px 92px 92px 96px;
    }

    &__first {
      display: flex;
      align-items: center;
      flex-direction: column;
      // min-width: 323px;
      @include for-size(laptop) {
        min-width: 160px;
      }
      @include for-size(desktop) {
        min-width: 323px;
      }
    }

    &__second {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transform: translate(0px, -60px);
    @include for-size(phone) {
      transform: translate(0px, -50px);
    }
  }

  &__header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  &__header {
    color: $white-text-color;
    font-size: 36px;
    font-weight: 700;
    line-height: calc(54 / 36);
    @include for-size(tablet) {
      font-size: 48px;
      line-height: calc(54 / 48);
    }
  }

  &__number {
    position: relative;
    @include for-size(phone) {
      max-width: 202px;
    }
    @include for-size(laptop) {
      max-width: 305px;
      min-width: 305px;
    }
  }
  &__image {
    position: absolute;
    z-index: 1;

    @include for-size(phone) {
      margin-top: 40px;
    }
  }

  &__caption {
    font-size: 32px;
    font-weight: 700;
    line-height: calc(54 / 32);

    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(20 / 16);
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__cource {
    font-size: 20px;
    font-weight: 700;
    line-height: calc(20 / 20);

    margin-bottom: 20px;

    @include for-size(phone) {
      font-size: 18px;
      font-weight: 700;
      line-height: calc(20 / 18);
    }
  }

  &__cap {
    font-size: 16px;
    font-weight: 700;
    line-height: calc(20 / 16);
  }

  &__button {
    width: 140px;
    height: 60px;
  }
}
