@import '../../assets/style/colors';
@import '../../assets/style/mixin';
@import '../../assets/style/container';
@import '../../assets/style/button';


.logo {
  @include for-size(phone) {
    width: 155px;
  }

  @include for-size(tablet) {
    width: 155px;
  }

  @include for-size(laptop) {
    width: 187px;
  }

  @include for-size(desktop) {
    width: 187px;
  }
}

.main__block {
  padding-top: 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.header__block {
  display: flex;
  align-items: center;
}

.header__right_block {
  @include for-size(laptop) {
    margin-left: 70px;
  }

  @include for-size(desktop) {
    margin-left: 80px;
  }
}

.left__block {
  display: flex;
  align-items: flex-end;
}

.header__list {
  display: flex;
}

.header__items {
  color: $white-text-color;
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  @include for-size(phone) {
    display: none;
  }

  @include for-size(tablet) {
    display: none;
  }

  @include for-size(laptop) {
    display: block;
  }
}

.header__link {
  text-decoration: none;
  color: $white-text-color;

  &:hover {
    color: aquamarine;
  }
}

.header__button {
  align-items: center;

  @include for-size(laptop) {
    display: block;
    display: flex;

  }
}   

.button__sign_in {
  margin-right: 15px;
  border: none;
  color: $white-text-color;
  outline: none;
  background-color: transparent;

  @include for-size(phone) {
    display: none;
  }

  @include for-size(tablet) {
    display: none;
  }


  @include for-size(laptop){
    display: block;   
}
}

.button{
  color: $white-text-color;
  outline: none;
  background-color: transparent;
  border: 2px solid #22a75d;
  border-radius: 52px;
  padding: 15px 30px;

  @include for-size(phone) {
    display: none;
  }

  @include for-size(tablet) {
    display: none;
  }

  @include for-size(laptop) {
    display: block;
  }

  @include for-size(desktop){
    display: block;   
}
}

.header__menu {
  border: none;
  background: transparent;

  @include for-size(phone) {
    display: block;
  }

  // @include for-size(tablet){
  //     display: block;
  // }

  // @include for-size(laptop){
  //     display: none;
  // }
}
