@import '../../assets/style/colors';
@import '../../assets/style/container';
@import '../../assets/style/mixin';

.footer {
  //========================================================//
  //     Footer                                             //
  //========================================================//
  &__container {
    @include for-size(phone) {
      padding-top: 30px;
      padding-bottom: 40px;
    }
    @include for-size(tablet) {
      padding-top: 30px;
      padding-bottom: 40px;
    }
    @include for-size(laptop) {
      padding-top: 50px;
      padding-bottom: 100px;
    }
    @include for-size(desktop) {
      padding-top: 60px;
      padding-bottom: 120px;
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    gap: 72px;

    @media screen and (max-width: 1279.98px) {
      display: none;
    }
    @include for-size(laptop) {
      margin-bottom: 100px;
    }
    @include for-size(desktop) {
      margin-bottom: 120px;
    }
  }
  &__item {
    @include for-size(laptop) {
      position: relative;
      color: $white-text-color;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      line-height: calc(19.6 / 16);
      letter-spacing: 0;
      transition: letter-spacing 0.3s ease-in-out;
      &:hover,
      &:focus,
      &:active {
        letter-spacing: 5px;
        color: $yellow-color;
      }

      &:after,
      &:before {
        backface-visibility: hidden;
        border: 1px solid rgba($yellow-color, 0);

        content: ' ';
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
      }

      &:hover:after,
      &:hover:before,
      &:focus:after,
      &:focus:before {
        backface-visibility: hidden;
        border-color: $yellow-color;
        transition: width 350ms ease-in-out;
        width: 100%;
      }
    }
  }
}

.decoration {
  color: rgba(255, 255, 255, 0.2);
  font-size: 22px;
  font-weight: 700px;
}
.contents {
  //========================================================//
  //     Contents                                           //
  //========================================================//
  display: flex;

  @include for-size(phone) {
    flex-direction: column;
    align-items: center;
  }
  @include for-size(tablet) {
    flex-direction: column;
    align-items: center;
  }
  @include for-size(laptop) {
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
  }

  &__container {
    margin-bottom: 33px;
    &:last-child {
      margin-bottom: 0;
    }
    @include for-size(laptop) {
      margin-bottom: 0;
    }
  }
  &__logo {
    margin: 0;
    @include for-size(laptop) {
      margin-right: 40px;
      width: 207;
      height: 33px;
    }
  }

  &__list {
    display: flex;
    @include for-size(phone) {
      gap: 5px;
    }
    @include for-size(tablet) {
      gap: 10px;
    }
    @include for-size(laptop) {
      gap: 10px;
    }
  }

  &__item {
    display: flex;
  }

  &__item:hover &__link,
  &__item:hover &__social,
  &__item:focus &__link,
  &__item:focus &__social {
    fill: #2278d4;
    border-color: #2278d4;
    transform: scale(1.2);
  }
  &__link {
    fill: $white-text-color;
    transition: all 0.4s ease;
    @include for-size(phone) {
      padding: 10px;
    }
    @include for-size(tablet) {
      padding: 15px;
    }
    @include for-size(laptop) {
      padding: 15px;
    }
  }
  &__social {
    fill: $white-text-color;
    width: 22px;
    height: 22px;
  }

  &__crypting {
    color: $white-text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: calc(22 / 14);
  }
}
