@import-normalize;
/* bring in normalize.css styles */

@import url('https://fonts.cdnfonts.com/css/century-gothic');

body {
  margin: 0;
  font-family: 'Century Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Century Gothic', sans-serif;
}


:root {
  --white-text-color: #fff;
  --black-text-color: #000;
  --green-color: #22A75D;
  --blue-color: #2278D4;
  --red-color: #E20613;
  --yellow-color: #FFD100;
  --gradient-blue-color: linear-gradient(0deg, #2B3087 0%, #00B4EC 81.99%), #FFD100;
  --hero-text-color: #DDE2FFl;
  --makes-section-color: #0F1320; 
  --tokners-text-color: #9FA1A6;
  --presale-text-color: #191B21;
  --how-color-text: #F7F5F9;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}