@import-normalize;

@import url('https://fonts.cdnfonts.com/css/century-gothic');

@import './assets/style/colors';
@import './assets/style/container'; 
@import './assets/style/mixin'; 
@import './assets/style/section'; 

body {
  margin: 0;
  font-family: 'Century Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0F1320;
}

code {
  font-family:'Century Gothic', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li{
  list-style: none;
}